#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#search_input {
  width: 85%;
  border-radius: 22.5px;
  height: 45px;
  padding: 20px;
  box-sizing: border-box;
}

.news {
  display: flex;
  gap: 20px;
}
